.board{
	width: 35vw;
	height: 50%;
	background-color: none;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.input{
	height: 23.33%;
	width: 22.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(230, 141, 233);
	font-family: 'Bellefair', serif;
	font-style: italic;
	font-weight: 650;
	font-size: 3rem;
}

.input-1{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}

.input-2{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}

.input-3{
	border-bottom: 5px
	dashed #3dbef1;
	border-right: 5px
	dashed #3dbef1;
}

.input-4{
	
	
	border-bottom: 5px
	dashed #3dbef1;
}

.input-5{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}

.input-6{
	border-bottom: 5px
	dashed #3dbef1;
	border-right: 5px
	dashed #3dbef1;
}

.input-7{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}

.input-8{
	
	border-bottom: 5px
	dashed #3dbef1;
}
.input-9{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}
.input-10{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}
.input-11{
	border-right: 5px
	dashed #3dbef1;
	border-bottom: 5px
	dashed #3dbef1;
}
.input-12{
	
	border-bottom: 5px
	dashed #3dbef1;
}
.input-13{
	border-right: 5px
	dashed #3dbef1;
	
}
.input-14{
	border-right: 5px
	dashed #3dbef1;
	
}
.input-15{
	border-right: 5px
	dashed #3dbef1;
	
}

